{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
   <head>
      
   </head>
   <!-- body -->
   <body>
     
     
      <!-- banner -->
      <section class="banner_main">
         <div id="banner1" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
               <li data-target="#banner1" data-slide-to="0" class="active"></li>
               <li data-target="#banner1" data-slide-to="1"></li>
               <li data-target="#banner1" data-slide-to="2"></li>
               <li data-target="#banner1" data-slide-to="3"></li>
               
            </ol>
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="container">
                     <div class="carousel-caption">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="text-bg">
                                 <span>Computer And Laptop</span>
                                 <h1>Accessories</h1>
                                 <p>Computers have become essential business tools. They are used in every aspect of a company's operations, including product creation, marketing, accounting and administration. It is critical that business owners take the time to choose the right computers, software and peripherals for their organization.</p>
                                 {% if request.session.email %}
                                    <a href="{% url 'product' %}">Buy Now </a> <a href="{% url 'contact' %}">Contact </a>
                                 {% else %}
                                    <a href="{% url 'login' %}">Buy Now </a> <a href="{% url 'contact' %}">Contact </a>
                                 {% endif %}
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="text_img">
                                 <figure><img src="{% static 'images/pct.png' %}" alt="#"/></figure>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="carousel-caption">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="text-bg">
                                 
                                 <h1>Computer</h1>
                                 <p>Computers are used in shopping malls to keep track of product inventory, to aid in accounting and billing, to manage employee timekeeping and records,and make transactions, and as part of mall security systems.</p>
                                 {% if request.session.email %}
                                    <a href="{% url 'product_filter' pc='Computer' %}">Buy Now </a> <a href="{% url 'contact' %}">Contact </a>
                                 {% else %}
                                    <a href="{% url 'login' %}">Buy Now </a> <a href="{% url 'contact' %}">Contact </a>
                                 {% endif %}
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="text_img">
                                 <figure><img src="{% static 'images/pct.png' %}" alt="#"/></figure>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="carousel-caption">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="text-bg">
                                 
                                 <h1>Laptop</h1>
                                 <p>Today, laptops are used in a variety of settings, such as at work, in education, for playing games, web browsing, for personal multimedia, and for general home computer use.</p>
                                 {% if request.session.email %}
                                    <a href="{% url 'product_filter' pc='Laptop' %}">Buy Now </a> <a href="{% url 'contact' %}">Contact </a>
                                 {% else %}
                                    <a href="{% url 'login' %}">Buy Now </a> <a href="{% url 'contact' %}">Contact </a>
                                 {% endif %}>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="text_img">
                                 <figure><img src="{% static 'images/pct.png' %}" alt="#"/></figure>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="carousel-caption">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="text-bg">
                                 
                                 <h1>Accessories</h1>
                                 <p>Any device added to a computer that performs an additional capability or feature, but is not required. A good example of an accessory is the computer printer, which gives the computer the ability to print.</p>
                                 {% if request.session.email %}
                                    <a href="{% url 'product_filter' pc='Accessories' %}">Buy Now </a> <a href="{% url 'contact' %}">Contact </a>
                                 {% else %}
                                    <a href="{% url 'login' %}">Buy Now </a> <a href="{% url 'contact' %}">Contact </a>
                                 {% endif %}
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="text_img">
                                 <figure><img src="{% static 'images/pct.png' %}" alt="#"/></figure>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="carousel-caption">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="text-bg">
                                 
                                 <h1>Accessories</h1>
                                 <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or </p>
                                 {% if request.session.email %}
                                    <a href="{% url 'product' %}">Buy Now </a> <a href="{% url 'contact' %}">Contact </a>
                                 {% else %}
                                    <a href="{% url 'login' %}">Buy Now </a> <a href="{% url 'contact' %}">Contact </a>
                                 {% endif %}
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="text_img">
                                 <figure><img src="{% static 'images/pct.png' %}" alt="#"/></figure>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>
            <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
         </div>
      </section>
      <!-- end banner -->
      <!-- three_box -->
      <div class="three_box">
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <div class="box_text">
                     <i><img src="{% static 'images/thr.png' %}" alt="#"/></i>
                     <h3>Computer</h3>
                     <p>Computers are used in shopping malls to keep track of product inventory, to aid in accounting and billing, to manage employee timekeeping and records,and make transactions, and as part of mall security systems.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box_text">
                     <i><img src="{% static 'images/thr1.png' %}" alt="#"/></i>
                     <h3>Laptop</h3>
                     <p>Today, laptops are used in a variety of settings, such as at work, in education, for playing games, web browsing, for personal multimedia, and for general home computer use.</p>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="box_text">
                     <i><img src="{% static 'images/thr2.png' %}" alt="#"/></i>
                     <h3>Accessories</h3>
                     <p>Any device added to a computer that performs an additional capability or feature, but is not required. A good example of an accessory is the computer printer, which gives the computer the ability to print.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- three_box -->
      <!-- products -->
      <div  class="products">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Our Products</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="our_products">
                     <div class="row">
                        <div class="col-md-4 margin_bottom1">
                           <div class="product_box">
                              <figure><img src="{% static 'images/product1.png' %}" alt="#"/></figure>
                              <h3>Keyboard</h3>
                           </div>
                        </div>
                        <div class="col-md-4 margin_bottom1">
                           <div class="product_box">
                              <figure><img src="{% static 'images/product2.png' %}" alt="#"/></figure>
                              <h3>Mouse</h3>
                           </div>
                        </div>
                        <div class="col-md-4 margin_bottom1">
                           <div class="product_box">
                              <figure><img src="{% static 'images/product3.png' %}" alt="#"/></figure>
                              <h3>Web Cam</h3>
                           </div>
                        </div>
                        <div class="col-md-4 margin_bottom1">
                           <div class="product_box">
                              <figure><img src="{% static 'images/product4.png' %}" alt="#"/></figure>
                              <h3>Speakers</h3>
                           </div>
                        </div>
                        <div class="col-md-4 margin_bottom1">
                           <div class="product_box">
                              <figure><img src="{% static 'images/product5.png' %}" alt="#"/></figure>
                              <h3>internet</h3>
                           </div>
                        </div>
                        <div class="col-md-4 margin_bottom1">
                           <div class="product_box">
                              <figure><img src="{% static 'images/product6.png' %}" alt="#"/></figure>
                              <h3>Hardisk</h3>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="product_box">
                              <figure><img src="{% static 'images/product7.png' %}" alt="#"/></figure>
                              <h3>Rams</h3>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="product_box">
                              <figure><img src="{% static 'images/product8.png' %}" alt="#"/></figure>
                              <h3>Bettery</h3>
                           </div>
                        </div>
                        <div class="col-md-4">
                           <div class="product_box">
                              <figure><img src="{% static 'images/product9.png' %}" alt="#"/></figure>
                              <h3>Drive</h3>
                           </div>
                        </div>
                        <div class="col-md-12">
                           <a class="read_more" href="{% url 'product' %}">See More</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end products -->
      <!-- laptop  section -->
      <div class="laptop">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="titlepage">
                     <p>Every Computer and laptop</p>
                     <h2>Up to 40% off !</h2>
                     <a class="read_more" href="{% url 'product_filter' pc='Computer' %}">Shop Now</a>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="laptop_box">
                     <figure><img src="{% static 'images/pc.png' %}" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      <!-- end laptop  section -->
      <!-- customer -->
      <div class="customer">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Seller Review</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div id="myCarousel" class="carousel slide customer_Carousel " data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container">
                              <div class="carousel-caption ">
                                 <div class="row">
                                    <div class="col-md-9 offset-md-3">
                                       <div class="test_box">
                                          <i><img src="{% static 'images/cos.png' %}" alt="#"/></i>
                                          <h4>Dev Patel</h4>
                                          <p>According to the most recent survey of Consumer Reports magazine readers, Apple ranked best for reliability for desktop computers, followed in order by Dell, IBM, and Hewlett-Packard. Apple also received the highest rating for laptop reliability, with Toshiba, Sony, and IBM following suit.</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-9 offset-md-3">
                                       <div class="test_box">
                                          <i><img src="{% static 'images/cos.png' %}" alt="#"/></i>
                                          <h4>Dhruvish Patel</h4>
                                          <p>Is Dell or HP better? HP offers a better value than Dell with its 2-in-1 laptops, though the price difference decreases if you choose a higher-res screen, more memory, and a faster Intel CPU. The Spectre x360 is the more premium version of the Envy x360 and is a better competitor to the Dell XPS 13 2-in-1 in terms of price and performance</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="row">
                                    <div class="col-md-9 offset-md-3">
                                       <div class="test_box">
                                          <i><img src="{% static 'images/cos.png' %}" alt="#"/></i>
                                          <h4>Devansh Patel</h4>
                                          <p>Apple is one of the most, if not the most, reliable tech brands.</p>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                     <span class="sr-only">Previous</span>
                     </a>
                     <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                     <span class="sr-only">Next</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end customer -->

      <!--  contact -->
      <div class="contact">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Contact Now</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <form id="request" class="main_form">
                     <div class="row">
                        <div class="col-md-12 ">
                           <input class="contactus" placeholder="Name" type="type" name="Name"> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Email" type="type" name="Email"> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Phone Number" type="type" name="Phone Number">                          
                        </div>
                        <div class="col-md-12">
                           <textarea class="textarea" placeholder="Message" type="type" Message="Name">Message </textarea>
                        </div>
                        <div class="col-md-12">
                           <button class="send_btn">Send</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <!-- end contact -->
     <br><br><br><br><br><br>
   </body>
</html>
{% endblock %}
