{% extends 'header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
   <head>
      
   </head>
   <!-- body -->
   <body>
      
      <!-- about section -->
      <div class="about">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>About Us</h2>
                     <p style="font-size:20px;">The CLA- India’s Largest Online Computer & Laptop Store.<br><br>

The CLA is India’s best online store to purchase ultimate and distinctively Computer and Laptop and, stylish Accessories for assortment of occasions and displaying your relationship and special bond of togetherness. <br><br>
There are plethora of innovative designs and features, superior quality goods and merchandise available online in India and Accessories that one can not only show off but also will make him look apart from the crowd with luxury at an extremely affordable and budget-friendly prices at utter convenience and simple payment options at The CLA.
<br><br><br>
<b>About Products:</b>
<br><br>
Now a days, owing to the hectic and frantic schedule of professionals and working class people, they mostly and frequently prefer to buy things online and that’s where to cure your monotonous lifestyle, The CLA is here to light up and rejuvenate you guys with best Computers and Laptop of all the renowned brand such as Apple, Lenovo, Asus,HP and DELL with snazzy and impact resistant looks. <br><br>
Apple have become one of the most eminent brands in the market and The CLA offers the best quality of Apple products online with immense ease and wallet friendly rates. HP is the second most popular brand in the market and we at The CLA offers beloved customers with high quality HP Laptops and Accessories which are too comfortable and flexible with all brands easily. The CLA also possess the collection of beautifully and distinctly designed of other brands of Computer and Laptop. which offer customers envy worth looks that too at an affordable and reasonable pricing. <br><br>
Wholly, we are emerging as the most chosen and trusted brand among the population of India in the sector of Dealer of Computers and Laptops online in India because of its surpassing quality of products and merchandise, reasonable pricing, easy and convenient payment methods and faster delivery of the products.
<br><br>
The customer is king:
<br><br>
At The CLA, we do understand and accept that our customers are the ultimate people who drive the business and hence, we make all efforts to make</p>
                    
                  </div>
               </div>
               
            </div>
         </div>
      </div>
      </div>
      <!-- end about section -->
     
   </body>
</html>
{% endblock %}
