{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
   <head>
     
   </head>
   <!-- body -->
   <body>
      
      <!-- products -->
      <div  class="products">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     {% if wishlist %}
                        <h2>My Wishlist</h2>
                     {% else %}
                        <h2>Your Wishlist Is Empty!</h2>
                     {% endif %}
                  </div>
               </div>
            </div>
            <div class="row">

               <div class="col-md-12">
                  <div class="our_products">
                        {% if msg %}
                           <center>
                           <font size="6">
                           <b style="color: white;">{{msg}}</b>
                           </font>
                           </center>
                        {% endif %}
                     <div class="row">
                        {% for i in wishlist %}
                        <div class="col-md-4 margin_bottom1">
                           <div class="product_box">
                              <a href="{% url 'product_details' pk=i.product.pk %}">
                              <figure><img src="{{i.product.product_image.url}}" alt="#"/ style="height: 210px ;width: 210px;"></figure>
                              <h3>{{i.product.product_category}}</h3>
                              </a>
                           </div>
                        </div>
                        {% endfor %}                      
                        
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end products -->
      
   </body>
</html>
{% endblock %}
